.app-wrapper {
  // margin: 0 auto;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  background-color: #eeeeee;
}

.app-page {
  min-height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}
